* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

:root {
    font-size: calc(0.1em + 1vw);

    --app-red: #de354c;
    --app-brown: #932432;
    --app-blue: #4682B4;
    --app-charcoalBlue: #36454F;
    --app-black: #283747;
    --app-white: #f3f3f3;
    --app-grey: #dce1e3;
    --app-green: #164a41;

    --app-royalBlue: #4169E1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}

nav .mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-header #burgerLinks {
    overflow: hidden;
    background: var(--app-black);
    position: absolute;
    width: 100%;
    top: 7vh;
    left: 0;
    z-index: 1;
}

.mobile-header #mobile-logo {
    font-size: 3vh;
    height: 5vh;
    display: table;
}

.mobile-header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobile-header .icon {
    position: absolute;
    right: 1vw;
    top: 0;
    height: 5vh;
    margin: 10px;
}

.mobile-header .icon svg,
.mobile-header #mobile-logo span {
    height: 5vh;
    vertical-align: middle;
    display: table-cell;
}

.uploadAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uploadAvatar h1 {
    color: var(--app-white);
    margin-left: auto;
    margin-right: auto;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px) {
    .uploadAvatar {
        justify-content: flex-start;
    }

    .uploadAvatar h1 {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}


